#footer {
    padding: 10px 0;
    background-color: #d6d6d6;
    color: #1f1f1f;
    font-size: 0.9rem;
    text-align: center;
}

#footer p {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}
